game_data
experiments/trajectories
__pycache__/
*.pyc
checkpoints*
models
machiavelli/game/agent/logs/*
*/logs/*
demo*
wandb*
venv/
experiments/conscience/multi_gpt2_5e-06_32_1.pkl
experiments/conscience/multi_gpt2_5e-06_32_2.pkl